body {
  padding:0;
  margin:0;
  background:black;
  text-align:center;
  color:#333;
  font-family:"helvetica neue";
  font-size:1.2em;
  overflow:hidden;
}
#current-photo {
  position:absolute;
  top:20px;
  border-radius:10px;
  box-shadow:#000 0 0 100px;
}
.photo {
  opacity:1;
  -webkit-transition:all .5s ease-in; 
  padding:20px;
  background:#fff;
  border-radius:10px;
}
#thumbs {
  opacity:.8;
}
.thumb {
  width:150px;
  height:150px;
  margin:0;
  padding:0;
  -webkit-transition:all 1s ease-in; 
 }
.hidden {
  opacity:0;
  -webkit-transition:all .5s ease-in; 
}
.container {
  width:612px;
  margin:0 auto;
}
.pic {
  width:612px;
  height:612px;
  border-radius:10px 10px 0 0;
}
.caption {
  margin:0;
  padding:10px 0 0 0;
  background:rgba(255,255,255,1);
  text-align:left;
  z-index:-2;
  min-height:75px;
  border-radius:0 0 10px 10px;
  overflow:hidden;
}
.col {
  float:left;
}
.avatarcol {
  width:95px;
}
.post {
  line-height:120%;
  width:500px;
  font-size:1.2em;
}
.post p {
  text-overflow:elipsis;
}
.avatar {
  width:85px;
  border-radius:100px;
  box-shadow:rgba(0,0,0,.5) 0 0 10px;
}
h4 {
  margin:0;
  padding:0;
}
p {
  margin:5px 0;
}
footer {
  text-align:right;
  background:rgba(255,255,255,1);
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:90px;
  box-shadow:rgba(0,0,0,1) 0 0 20px;
  opacity:.8;
}
footer .content {
  width:100%;
  position:absolute;
  top:10px;
  right:10px;
}
footer .content span {
  font-family: 'Patua One', cursive;
  font-size:3em;
  color:#1e3366;
  vertical-align:top;
}
footer img {
  width:70px;
  margin-left:10px;
}